MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/portfolio-evaluator?retryWrites=true&w=majority
GITHUB_TOKEN=github_personal_access_token
PORT=5000
JWT_SECRET=replace_with_a_random_secret
CLIENT_URL=http://localhost:5173
